body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.photo {
	width:200px;
}
.left, .right {
	margin-top: 10px
	margin-bottom:10px; /*what's the diference with putting it here rather than in .left?*/
/*	margin-right:10px; - i think this makes the right side have a margin rather than the right side of the photo - right?
*/}
.left {
	float:left;
	margin-right:10px;
}
.right{
	float:right;
	margin-left:10px;
}